<section class="block features">
  <div class="container grid features__list">
    <div class="card features__item">
      <div class="icon icon-basic-world features__icon"></div>
      <h2 class="features__heading">Explore the world</h2>
      <p class="features__description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse,
        consectetur accusamus excepturi deleniti, quod laborum quia suscipit
        incidunt, repellendus debitis doloremque nobis possimus voluptatum.
        Perspiciatis.
      </p>
    </div>
    <div class="card features__item">
      <div class="icon icon-basic-compass features__icon"></div>
      <h2 class="features__heading">Meet nature</h2>
      <p class="features__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo
        incidunt aliquam facere dolores suscipit.
      </p>
    </div>
    <div class="card features__item">
      <div class="icon icon-basic-map features__icon"></div>
      <h2 class="features__heading">Find your way</h2>
      <p class="features__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ab
        sint.
      </p>
    </div>
    <div class="card features__item">
      <div class="icon icon-basic-heart features__icon"></div>
      <h2 class="features__heading">Live a healthier life</h2>
      <p class="features__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, esse.
      </p>
    </div>
  </div>
</section>
