<footer class="block block--dark footer">
  <div class="container footer__content">
    <picture>
      <source
        media="(min-width: 639px)"
        srcset="images/logo-footer-large.png"
      />
      <img
        class="footer__logo"
        src="images/logo-footer.png"
        alt="Footer Logo"
      />
    </picture>
    <div class="footer__info">
      <ul class="footer__menu">
        <li class="footer__item">
          <a class="footer__link" href="#">Company</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact Us</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Careers</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Terms</a>
        </li>
      </ul>
      <p class="footer__copyright">
        Built from heart by
        <a href="#" class="footer__link">lantranad2</a> with special help from
        <a href="#" class="footer__link">Jonas Schmedtmann</a>. This project is
        a practice for upgrading
        <a href="#" class="footer__link">HTML, CSS, SASS, and JAVASCRIPT</a>
        skills.
      </p>
    </div>
  </div>
</footer>
