<header class="header">
  <div class="container header__logo">
    <a href="#"><img src="images/logo.png" alt="Natours Logo" /></a>
  </div>
  <div class="header__content">
    <h1 class="header__title">
      <span class="animated-from-left header__heading">Outdoors</span>
      <span class="animated-from-right header__subheading"
        >is where life happens</span
      >
    </h1>
    <a href="#" class="btn btn--primary animated-from-bottom header__btn">
      Discover Our Tours
    </a>
  </div>
</header>
