<nav class="nav">
  <div class="container nav__btns">
    <btn class="nav__icons">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon nav__icon nav__icon--menu"
        viewBox="0 0 512 512"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="32"
          d="M80 160h352M80 256h352M80 352h352"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="ionicon nav__icon nav__icon--close"
        viewBox="0 0 512 512"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="32"
          d="M368 368L144 144M368 144L144 368"
        />
      </svg>
    </btn>
    <div class="nav__bg">&nbsp;</div>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#">About Natours</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Your Benefits</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Popular Tours</a>
    </li>
    <li class="nav__item"><a class="nav__link" href="#">Stories</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Book Now</a></li>
  </ul>
</nav>
