<section class="block stories">
  <video class="stories__video" autoplay muted loop>
    <source src="images/video.webm" type="video/webm" />
    <source src="images/video.mp4" type="video/mp4" />
    Your browser is not supported video!
  </video>
  <header class="container block__header stoies__header">
    <h2 class="block__heading">We Make People Genuinely Happy</h2>
  </header>
  <div class="container stories__content">
    <div class="story">
      <figure class="story__figure">
        <img class="story__img" src="images/popup-1.jpg" alt="Mary Smith" />
        <figcaption class="story__name">Mary Smith</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="story__heading">I had the best week ever with my family</h3>
        <p class="story__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
          architecto nisi ratione nesciunt ullam porro quo officia velit quos
          asperiores, provident est delectus distinctio. Vitae aspernatur omnis
          quidem voluptatem maiores.
        </p>
      </div>
    </div>
    <div class="story">
      <figure class="story__figure">
        <img class="story__img" src="images/popup-2.jpg" alt="Jack Wilson" />
        <figcaption class="story__name">Jack Wilson</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="story__heading">Wow! My life is completely different now</h3>
        <p class="story__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi,
          architecto nisi ratione nesciunt ullam porro quo officia velit quos
          asperiores, provident est delectus distinctio. Vitae aspernatur omnis
          quidem voluptatem maiores. Commodi, architecto nisi ratione nesciunt
          ullam porro quo officia.
        </p>
      </div>
    </div>
  </div>
  <a href="#" class="link stories__link">Read all stories &rarr;</a>
</section>
