<section class="block tours">
  <header class="container block__header">
    <h2 class="block__heading">Most Popular Tours</h2>
  </header>
  <div class="container grid tours__items">
    <div class="tours__item tours__item--secondary">
      <div class="tours__side tours__side--front">
        <div class="tours__img">
          <h3 class="tours__heading">
            <span class="tours__heading-text">The sea explorer</span>
          </h3>
        </div>
        <ul class="tours__list">
          <li class="tours__list-item">3 day tours</li>
          <li class="tours__list-item">Up to 30 people</li>
          <li class="tours__list-item">2 tour guides</li>
          <li class="tours__list-item">Sleep in cozy hotels</li>
          <li class="tours__list-item">Difficulty: easy</li>
        </ul>
      </div>
      <div class="tours__side tours__side--back">
        <span class="tours__subheading">Only</span>
        <span class="tours__price">$297</span>
        <button class="btn btn--primary">Book Now</button>
      </div>
    </div>
    <div class="tours__item tours__item--primary">
      <div class="tours__side tours__side--front">
        <div class="tours__img">
          <h3 class="tours__heading">
            <span class="tours__heading-text">The forest hiker</span>
          </h3>
        </div>
        <ul class="tours__list">
          <li class="tours__list-item">7 day tours</li>
          <li class="tours__list-item">Up to 40 people</li>
          <li class="tours__list-item">6 tour guides</li>
          <li class="tours__list-item">Sleep in provided tents</li>
          <li class="tours__list-item">Difficulty: medium</li>
        </ul>
      </div>
      <div class="tours__side tours__side--back">
        <span class="tours__subheading">Only</span>
        <span class="tours__price">$497</span>
        <button class="btn btn--primary">Book Now</button>
      </div>
    </div>
    <div class="tours__item tours__item--tertiary">
      <div class="tours__side tours__side--front">
        <div class="tours__img">
          <h3 class="tours__heading">
            <span class="tours__heading-text">The snow adventurer</span>
          </h3>
        </div>
        <ul class="tours__list">
          <li class="tours__list-item">5 day tours</li>
          <li class="tours__list-item">Up to 15 people</li>
          <li class="tours__list-item">3 tour guides</li>
          <li class="tours__list-item">Sleep in provided tents</li>
          <li class="tours__list-item">Difficulty: hard</li>
        </ul>
      </div>
      <div class="tours__side tours__side--back">
        <span class="tours__subheading">Only</span>
        <span class="tours__price">$897</span>
        <button class="btn btn--primary">Book Now</button>
      </div>
    </div>
  </div>
  <button class="btn btn--secondary tours__btn">Discover All Tours</button>
</section>
