@use "../abstracts/variables" as *;

.link {
  color: $color-primary-dark;
  font-size: 1.6rem;
  padding: 5px;
  border-bottom: 1px solid $color-primary-dark;
  transition: all 0.4s;

  &:hover {
    color: $color-grey-light;
    border-bottom-color: $color-grey-light;
    background: $color-primary;
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(0);
  }
}
